<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Every Day Is Special</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div class="container" id="container">
		  <div class="form-container data-entry-container">
        <form action="#">
          <h1>What else is happening?</h1>
          <div class="reason-container">
					<h3>Have you ever wondered what else is happening on your birthday around the world? Well! Let's find out together.</h3>
				</div>
          <span>Please enter you Name and Birthdate this year below:</span>
          <input type="text" placeholder ="Name"/>
          <input type="date" placeholder ="Birth Date"/>
          <a href="next.html"><button type="button">FIND OUT!</button></a>
          
        </form>
      </div>
      <div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right blur">
          
					<h2>Diversity and Inclusion</h2>
          <p></p>
					<p1>Do you know there are over 4200 religions in this world? People around the world speak over 7100 languages. Let us together learn about different cultures and people to build a diversified world where everyone feels included.</p1>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
